In [1]:
from epymetheus import Trade, TradeHistory, TradeStrategy, Universe, Transaction, Backtester
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [2]:
date_range = pd.date_range(datetime.date(2000, 1, 1), datetime.date(2000, 12, 31))

prices = np.random.randn(2, len(date_range)).cumsum(axis=1).T
universe = Universe(
    name='stocks',
    data=pd.DataFrame(prices, index=date_range, columns=['AAPL', 'MSFT'])
)
universe.data.head()

                AAPL      MSFT
2000-01-01 -1.453213  0.567141
2000-01-02 -1.643470  1.291898
2000-01-03 -2.285872  1.898612
2000-01-04 -3.918908  2.922901
2000-01-05 -3.832863  2.838834

In [3]:
class MyStrategy(TradeStrategy):
    
    def logic(self, universe):
        t1 = Trade(asset='AAPL', lot=100.0, begin_date=datetime.date(2000, 1, 10), end_date=datetime.date(2000, 2, 10))
        t2 = Trade(asset='MSFT', lot=-50.0, begin_date=datetime.date(2000, 1, 15), end_date=datetime.date(2000, 3, 15))
        
        trades = [t1, t2]
        return trades

In [4]:
backtester = Backtester()
strategy = MyStrategy()

In [5]:
backtester

In [9]:
backtester.run(strategy, universe)
backtester.history_.data

  asset    lot  begin_date    end_date duration        gain
0  AAPL  100.0  2000-01-10  2000-02-10  31 days  182.922784
1  MSFT  -50.0  2000-01-15  2000-03-15  60 days -562.179174

In [7]:
backtester.wealth_.data

2000-01-01      0.00000
2000-01-02      0.00000
2000-01-03      0.00000
2000-01-04      0.00000
2000-01-05      0.00000
                ...
2000-12-27   -143.06379
2000-12-28   -143.06379
2000-12-29   -143.06379
2000-12-30   -143.06379
2000-12-31   -143.06379
Length: 366, dtype: float64