In [1]:
from epymetheus import Trade, TradeHistory, TradeStrategy, Universe, Transaction
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [2]:
date_range = pd.date_range(datetime.date(2000, 1, 1), datetime.date(2000, 12, 31))

prices = np.random.randn(2, len(date_range)).cumsum(axis=1).T
universe = Universe(
    name='stocks',
    data=pd.DataFrame(prices, index=date_range, columns=['AAPL', 'MSFT'])
)
universe.data.head()

                AAPL      MSFT
2000-01-01 -0.246281 -0.285009
2000-01-02 -0.508490 -0.832102
2000-01-03  0.728102 -0.554140
2000-01-04  0.940379 -1.819166
2000-01-05  0.702161 -0.920560

In [3]:
t1 = Trade(asset='AAPL', lot=100.0, begin_date=datetime.date(2000, 1, 10), end_date=datetime.date(2000, 2, 10))
t2 = Trade(asset='MSFT', lot=-50.0, begin_date=datetime.date(2000, 1, 15), end_date=datetime.date(2000, 3, 15))

print(t1)
print(t2)

trades = [t1, t2]

Trade: AAPL * 100.0 2000-01-10 - 2000-02-10
Trade: MSFT * -50.0 2000-01-15 - 2000-03-15

In [4]:
history = TradeHistory.from_trades(trades, universe)
history.data

  asset    lot  begin_date    end_date duration        gain
0  AAPL  100.0  2000-01-10  2000-02-10  31 days   90.620247
1  MSFT  -50.0  2000-01-15  2000-03-15  60 days  105.952750

In [5]:
transaction = Transaction.from_trades(trades)
transaction.data

             AAPL  MSFT
2000-01-10  100.0   0.0
2000-01-15    0.0 -50.0
2000-02-10 -100.0   0.0
2000-03-15    0.0  50.0

In [12]:
transaction.data.shift().cumsum()

             AAPL  MSFT
2000-01-10    NaN   NaN
2000-01-15  100.0   0.0
2000-02-10  100.0 -50.0
2000-03-15    0.0 -50.0